<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }
        
        th, td {
            text-align: left;
            padding: 8px;
        }
        
        th {
            background-color: #ccc;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Task List</h1>
    <form method="POST" action="/tasks">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"><br>
        <label for="description">Description:</label>
        <input type="text" name="description" id="description"><br>
        <button type="submit">Create</button>
    </form>
    <h2>Task List:</h2>
    <table style="border-collapse: collapse; table-layout: fixed;">
      <thead>
        <tr>
          <th style="border: 1px solid black; padding: 10px;">Name</th>
          <th style="border: 1px solid black; padding: 10px;">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for note in id %}
        <tr>
          <td style="border: 1px solid black; padding: 10px;">{{ note.name }}</td>
          <td style="border: 1px solid black; padding: 10px;">{{ note.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>
